@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v4/QGYsz_wNahGAdqQ43Rh_fKDs.ttf) format('truetype');
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Work Sans', sans-serif;
  background: #f5f5f5;
}
p {
  font-size: 1.6rem;
}
header {
  height: 64px;
  background: #d32323;
}
header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  max-width: 100rem;
  height: 100%;
  margin: auto;
  color: #f5f5f5;
}
header .header-wrap h1 {
  font-size: 2rem;
  font-weight: 550;
}
header .header-wrap a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.5rem;
}
header .header-wrap a:hover {
  color: rgba(188, 207, 219, 0.7);
  transition: all 200ms ease;
}
.showcase {
  height: 308px;
  background: url("../img/taco-banner.jpg") center no-repeat;
}
.showcase .main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 5rem;
  font-size: 4rem;
  font-weight: bold;
  background-color: rgba(188, 207, 219, 0.7);
}
.main-content {
  margin: 0;
  padding: 4rem 0 4rem 0;
}
.main-content h2 {
  margin-bottom: 1rem;
  padding: 0 5rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.main-content .info-boxes {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 5rem;
  max-width: 100rem;
}
@media (max-width: 800px) {
  .main-content .info-boxes {
    display: block;
  }
}
.main-content .info-boxes .info-box {
  max-width: 30%;
  line-height: 1.5;
  margin-top: 2rem;
}
@media (max-width: 800px) {
  .main-content .info-boxes .info-box {
    max-width: 100%;
  }
}
.main-content .info-boxes .info-box h3 {
  color: #d32323;
  font-size: 2.1rem;
  font-weight: bold;
}
.info-cards {
  padding: 1rem 0 4rem 0;
  background: #e6e6e6;
}
.info-cards .cards-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100rem;
  margin: auto;
  padding: 0 3.5rem;
}
.info-cards .cards-wrap .card {
  margin: 3rem 1.5rem 0 1.5rem;
  width: 28rem;
  height: 20rem;
  border: 1px solid lightgrey;
  background: #f5f5f5;
}
.learn-more {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4rem 0 4rem 0;
  text-align: center;
  line-height: 1.5;
}
.learn-more h2 {
  margin-bottom: 1rem;
  font-size: 2.1rem;
  font-weight: bold;
}
.learn-more p {
  padding: 0 5rem;
}
.learn-more button {
  margin-top: 2rem;
  padding: 0.9rem 1.9rem;
  border: 1px solid #8d0005;
  border-radius: 3px;
  color: #f5f5f5;
  font-size: 1.2rem;
  font-weight: 600;
  background: #d32323;
  cursor: pointer;
}
.learn-more button:hover {
  background: #ed0008;
  transition: all 200ms ease;
}
@media (max-width: 500px) {
  .learn-more button {
    padding: 2rem 3rem;
    font-size: 2rem;
  }
}
footer {
  height: 100px;
  background: #e6e6e6;
}
footer .footer-wrap {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 100rem;
  padding: 1rem 4rem;
  margin: auto;
}
@media (max-width: 500px) {
  footer .footer-wrap {
    justify-content: center;
  }
}
footer .footer-wrap a {
  font-size: 2rem;
  text-decoration: none;
  color: #d32323;
  padding: 0.5rem;
}
footer .footer-wrap a:hover {
  color: #ed0008;
  transform: scale(1.1);
  font-weight: bold;
  transition: all 200ms ease;
}
@media (max-width: 500px) {
  footer .footer-wrap a {
    padding: 1rem;
    font-size: 3rem;
  }
}
.about-us {
  max-width: 100rem;
  margin: auto;
  padding: 4rem 0;
}
.about-us h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.about-us .team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 3.5rem;
}
.about-us .team-members .profile-box {
  margin: 3rem 1.5rem 0 1.5rem;
  line-height: 1.5;
}
.about-us .team-members .profile-box img {
  border: 5px solid rgba(188, 207, 219, 0.7);
  border-radius: 100%;
}
.about-us .team-members .profile-box h3 {
  font-size: 2.1rem;
  text-align: center;
}
.about-us .team-members .profile-box p {
  text-align: center;
}
