// Header

header {
    height: 64px;
    background: @bold-red;

    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        max-width: 100rem;
        height: 100%;
        margin: auto;
        color: @main-bg;

        h1 {
            font-size: 2rem;
            font-weight: 550;
        }

        a {
            text-decoration: none;
            color: @main-bg;
            font-size: 1.5rem;
            font-weight: 500;
        }
    }
}

.showcase {
    height: 308px;
    background: @showcase-blue;

    .main-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-size: 4rem;
    }
}

.main-content {
    margin: 0;
    padding: 12rem 0 10rem 0;
    background: @main-bg;

    h2 {
        font-size: 3.2rem;
        text-align: center;
    }

    .info-boxes {
        display: flex;
        justify-content: space-between;
        margin: 4rem auto;
        padding: 0 5rem;
        max-width: 100rem;

        .info-box {
            max-width: 30%;
            line-height: 1.5;

            h3 {
                color: @bold-red;
                font-size: 2.4rem;
            }
        }
    }
}

.learn-more {
    max-width: 100rem;
    margin: auto;
    padding-bottom: 10rem;
    text-align: center;
    line-height: 2;

    h2 {
        font-size: 3.2rem;
    }
    
    button {
        margin-top: 2rem;
        padding: 1.5rem 2rem;
        border: none;
        border-radius: 5px;
        color: @main-bg;
        font-size: 1.2rem;
        font-weight: 600;
        background: @bold-red;
    }
}

footer {
    padding: 4rem 10rem;
    height: 200px;
    background: @secondary-bg;

    a {
        margin-top: 3rem;
        font-size: 2rem;
        text-decoration: none;
        color: @bold-red;
    }
}