// Header

header {
    height: 64px;
    background: @bold-red;

    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5rem;
        max-width: 100rem;
        height: 100%;
        margin: auto;
        color: @main-bg;

        .branding {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100%;

            .img-link {
                height: 4rem;
                
                img {
                    height: 100%;
                }
            }

            h1 {
                font-size: 2rem;
                font-weight: 500;
            }

        }

        .text-link {
            text-decoration: none;
            color: @main-bg;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 0.5rem;

            &:hover {
                color: @showcase-blue;
                transition: all 200ms ease;
            }
        }
    }
}

// Showcase

.showcase {
    height: 308px;
    background: url("../img/taco-banner.jpg") center no-repeat;

    .main-heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 5rem;
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.2;
        background-color: @showcase-translucent;

        h2 {
            img {
                vertical-align: text-bottom;
                height: 6rem;
            }
        }
    }
}

// Main Content

.main-content {
    margin: 0;
    padding: 4rem 0 4rem 0;

    h2 {
        margin-bottom: 1rem;
        padding: 0 5rem;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;

        img {
            vertical-align: text-bottom;
            height: 5rem;
        }
    }

    .info-boxes {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 5rem;
        max-width: 100rem;

        @media @tablet {
            display: block;
        }

        .info-box {
            max-width: 30%;
            line-height: 1.5;
            margin-top: 2rem;
            
            @media @tablet {
                max-width: 100%;
            }

            h3 {
                color: @bold-red;
                font-size: 2.1rem;
                font-weight: 500;
            }
        }
    }
}

// Info Slides

.info-slides {
    padding: 4rem 0 4rem 0;
    background: @secondary-bg;

    h2 {
        margin-bottom: 1.5rem;
        padding: 0 5rem;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }

    .info-container {
        max-width: 100rem;
        margin: auto;
        padding: 0 5rem;

        .tabs {
            display: flex;
            justify-content: space-evenly;
            padding: 2.5rem 0;
            font-size: 1.4rem;

            @media @mobile {
                height: 4.2rem;
                max-width: 36rem;
                margin: 3rem auto 0 auto;
                padding: 0;
                border: 1px solid @tab-border;
            }

            .tab {
                background: @main-bg;
                padding: 1rem;
                border: 1px solid @tab-border;
                border-radius: 5px;
                cursor: pointer;
                
                @media @mobile {
                    margin-bottom: 0;
                    border: none;
                    border-radius: 0;
                    width: 100%;

                    &:nth-child(even) {
                        @media @mobile {
                            border-left: 1px solid @tab-border;
                            border-right: 1px solid @tab-border;
                        }
                    }
                }
            }

            .tab-selected {
                color: @secondary-bg;
                background: @bold-red;
            }
        }
    
        .slide {
            max-width: 36rem;
            height: 64rem; 
            margin: auto;
            border: 1px solid lightgrey;
            background: @main-bg;
            display: none;
        }

        .active-slide {
            display: block;
        }
    }
}

// Get Started

.get-started {
    max-width: 100rem;
    margin: 0 auto;
    padding: 4rem 0 4rem 0;
    text-align: center;
    line-height: 1.5;

    h2 {
        margin-bottom: 1rem;
        font-size: 2.1rem;
        font-weight: 500;
    }
    
    p {
        padding: 0 5rem;
    }

    button {
        margin-top: 2rem;
        padding: 0.9rem 1.9rem;
        border: 1px solid @button-border;
        border-radius: 3px;
        color: @main-bg;
        font-size: 1.2rem;
        font-weight: 600;
        background: @bold-red;
        cursor: pointer;

        &:hover {
            background: @hover-red;
            transition: all 200ms ease;
        }

        @media @mobile {
            padding: 2rem 3rem;
            font-size: 2rem;
        }
    }
}

// Footer

footer {
    height: 100px;
    background: @secondary-bg;

    .footer-wrap {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 100rem;
        padding: 1rem 4rem;
        margin: auto;

        @media @mobile {
            justify-content: center;
        }

        a {
            font-size: 2rem;
            text-decoration: none;
            color: @bold-red;
            padding: 0.5rem;

            &:hover {
                color: @hover-red;
                transform: scale(1.1);
                transition: all 200ms ease;
            }

            @media @mobile {
                padding: 1rem;
                font-size: 3rem;
            }
        }
    }
}