// Colors

@bold-red: #d32323;
@showcase-blue: rgba(188, 207, 219, 0.7); // Updated color opacity
@main-bg: #f5f5f5;
@secondary-bg: #e6e6e6;
@button-border: #8d0005;
@hover-red: #ed0008;

// Media Queries

@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";